html {

	p.begin {
	color:#fff !important;
	background-color:#000 !important;
	}

	.directions {
	padding-bottom:5rem;
	}

	font-family: Helvetica, Arial, sans-serif;
	background-color:#000;

	p {
	text-indent:-9999px;
	}

	p:focus, h2:focus {
	background-color:#fff;
	text-indent:0;
	}

	.vis {
	color:#fff !important;

	p {
	text-indent:0;
	}
	}
}
